<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<!-- Logları dosyaya yazmak için File hedefi -->
		<target xsi:type="File" name="file" fileName="/UserApp/UserApp.XUnitTest/XUnitTest-logs.txt" />

		<!-- Logları konsola yazmak için Console hedefi -->
		<target xsi:type="Console" name="console" />
	</targets>
</nlog>
